--extra-index-url https://backend:dc222fa6-452f-4253-a2fd-a52e7ba2e7e9@nexus.sigame.com.br/repository/pypi/simple
asgiref==3.5.2
boto3==1.21.21
flask==2.1.2
heimdall-client==2.2.0
hypercorn==0.13.2
motor==3.0.0
pip-chill==1.0.1
pydantic==1.9.1
strenum==0.4.7